
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
.searchForm{
    margin:auto;
    padding:15px;
    max-width:550px;
    align-items: center;
}

.cate-btn{
    border: 1px solid rgb(164, 164, 164);
    background-color: white;
    border-radius:3px;
    margin:2px;
    box-shadow:3px 3px 10px rgb(212, 212, 212);
}

/* 
   @media only screen and (min-width: 468px) {
    .categ {
        visibility:hidden;
      }
  }  */